
.p-inquiry{
	margin-bottom: 70px;
}
.p-inquiry-box{
	display: table;
}
.p-inquiry-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-inquiry-box .p-box-right{
	display: table-cell;
	vertical-align: middle;
}

.p-base-text ul{
	font-size: 18px;
}

.p-base-text ul li{
	margin-left: 40px;
}
@media screen and (max-width: 640px) {
.p-inquiry-box .p-box-left{
	display: table;
	padding:15px 0;
	border:2px solid #0A7EAC;
}


.p-inquiry-box .p-box-right{
	display: block;
	background: #0A7EAC;
}
	.p-inquiry-box .p-text-left{
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.p-inquiry-box .p-text-left img{
		width: 85%;
	}
	.p-inquiry-box .p-text-right{
		padding-right: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.p-inquiry-box .p-text-right img{
		width: 85%;
	}
	.p-inquiry{
		margin-bottom: 30px;
	}
}