@charset "utf-8";
.l-content{
  font-size: 16px;
  font-family: "新ゴpro", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  line-height: 2;
}
section.p-career{
  padding: 70px 0;
  padding-bottom: 70px;
  width: 1000px;
  margin: 0 auto;
}
.p-bd{
  text-align: left;
  border: 2px solid #1878a3;
  padding: 20px 0 20px 20px;
}
.p-blue_bg{
  font-size: 20px;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  text-align: left;
  background-color: #b4c3d1;
  padding: 15px 0 15px 30px;
}
nav.anchor ul {
  overflow: hidden;
  width: 940px;
  margin: 30px auto 0;
}
nav.anchor ul li{
  float: left;
}
nav.anchor ul li+li{
  margin-left: 15px;
}
#p-type01{
  padding-top: 20px;
  margin-top: -20px;
}
#p-type02{
  padding-top: 20px;
  margin-top: -20px;
}
#p-type03{
  padding-top: 20px;
  margin-top: -20px;
}
p.p-txt{
  font-size: 20px;
  line-height: 2;
  margin: 20px 0 0 30px;
}
.p-type01-flow{
  width: 820px;
  margin: 70px auto;
}
.p-type01-flow ol{
  overflow: hidden;
}
.p-type01-flow ol>li{
  float: left;
}
.p-type01-flow ul{
  margin-top: 10px;
  position: relative;
  left: 20%;
  font-size: 16px;
}
.p-type01-flow ol>li:nth-of-type(1) ul{
  position: relative;
  left: 10%;
}
.p-type02-flow{
  width: 820px;
  margin: 70px auto;
}
.p-type02-flow ol{
  overflow: hidden;
}
.p-type02-flow ol>li{
  float: left;
}
.p-type02-flow ul{
  margin-top: 10px;
  position: relative;
  left: 20%;
  font-size: 16px;
}
.p-type02-flow ol>li:nth-of-type(1) ul{
  position: relative;
  left: 10%;
}
.p-type03-flow{
  width: 820px;
  margin: 70px auto;
}
.p-type03-flow ol{
  overflow: hidden;
}
.p-type03-flow ol>li{
  float: left;
}
.p-type03-flow ul{
  margin-top: 10px;
  position: relative;
  left: 20%;
  font-size: 16px;
}
.p-type03-flow ol>li:nth-of-type(1) ul{
  position: relative;
  left: 10%;
}
div.p-onst-flow{
  width: 820px;
  margin: 70px auto;
}
div.p-onst-flow > ul{
  overflow: hidden;
}
div.p-onst-flow > ul > li{
  float: left;
}
div.p-onst-flow > ul > li:nth-child(-n+5){
  position: relative;
  float: left;
  padding-right: 30px;
}
div.p-onst-flow > ul > li:nth-child(-n+5)+li:nth-child(-n+5){
  margin-left: 20px;
}
div.p-onst-flow > ul > li:nth-of-type(4){
  position: relative;
  float: left;
  padding-bottom: 26px;
}
div.p-onst-flow > ul > li:nth-child(n+5){
  margin-top: 10px;
  position: relative;
  float: right;
  padding-left: 40px;
}
div.p-onst-flow > ul > li:nth-child(n+5)+li:nth-child(n+5){
  margin-left: 15px;
}
div.p-onst-flow > ul > li:last-child{
  float: right !important;
  padding: 0 !important;
  margin-left: 0 !important;
}
div.p-onst-flow > ul > li:nth-child(-n+5):after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 26px;
  height: 14px;
  background: url(../images/career/onst_arrow_r.jpg) no-repeat;
}
div.p-onst-flow > ul > li:nth-of-type(4):after{
  content: '';
  display: block;
  position: absolute;
  margin-left: -14px;
  top: 92%;
  left: 50%;
  width: 14px;
  height: 26px;
  background: url(../images/career/onst_arrow_d.jpg) no-repeat;
}
div.p-onst-flow > ul > li:nth-child(n+5):after{
  content: '';
  display: block;
  position: absolute;
  margin-right: -26px;
  top: 50%;
  right: 100%;
  width: 26px;
  height: 14px;
  background: url(../images/career/onst_arrow_l.jpg) no-repeat;
}
div.p-onst-flow > ul > li:last-child:after{
  content: none;
  width: auto;
  height: auto;
  background: none;
  padding: 0;
  margin-left: 0;
}
ul.p-blue > li{
  line-height: 1.5;
  padding-left: 12px;
  position: relative;
}
ul.p-blue > li:before{
  display: block;
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 8px;
  height: 7px;
  background: url(../images/career/ico_blue.jpg) no-repeat 0 0;
}
ul.p-green > li{
  line-height: 1.5;
  padding-left: 12px;
  position: relative;
}
ul.p-green > li:before{
  display: block;
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 8px;
  height: 7px;
  background: url(../images/career/ico_green.jpg) no-repeat 0 0;
}
ul.p-orange > li{
  line-height: 1.5;
  padding-left: 12px;
  position: relative;
}
ul.p-orange > li:before{
  display: block;
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 8px;
  height: 7px;
  background: url(../images/career/ico_orange.jpg) no-repeat 0 0;
}
ul.p-red > li{
  line-height: 1.5;
  padding-left: 12px;
  position: relative;
}
ul.p-red > li:before{
  display: block;
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 8px;
  height: 7px;
  background: url(../images/career/ico_red.jpg) no-repeat 0 0;
}
.p-inquiry{
  margin-bottom: 128px;
}
.p-inquiry-box{
  display: table;
}
.p-inquiry-box .p-box-left{
  display: table-cell;
  vertical-align: middle;
}
.p-inquiry-box .p-box-right{
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 640px) {
  .l-content{
    width: 100%;
    margin: 0 auto;
  }
  section.p-career{
    padding: 30px 0;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
  }
  .p-bd{
    text-align: center;
    padding: 20px 0;
  }
  .p-bd img{
    width: 80%;
  }
  .p-blue_bg{
    text-align: center;
    padding: 20px 0;
  }
  nav.anchor ul {
    overflow: hidden;
    width: 90%;
    margin: 20px auto 0;
  }
  nav.anchor ul li{
    float: none;
  }
  nav.anchor ul li+li{
    margin-left: 0;
    margin-top: 10px;
  }
  p.p-txt{
    width: 90%;
    font-size: 18px;
    line-height: 1.8;
    margin: 20px auto 0 auto;
  }
  .p-type01-flow{
    width: 90%;
    margin: 0 auto;
  }
  .p-type01-flow ol{
    overflow: hidden;
  }
  .p-type01-flow > ol > li{
    position: relative;
    padding-bottom: 70px;
    float: none;
  }
  .p-type01-flow > ol > li+li{
    margin-top: 20px;
  }
  .p-type01-flow > ol > li:nth-child(-n+3):after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #4aaae6 transparent transparent transparent;
  }
  .p-flow-title-blue{
    font-size: 20px;
    font-weight: bold;
    color: #4aaae6;
    border: 2px solid #4aaae6;
    text-align: center;
    padding: 20px 0;
  }
  .p-flow-title-green{
    font-size: 20px;
    font-weight: bold;
    color: #33c735;
    border: 2px solid #33c735;
    text-align: center;
    padding: 20px 0;
  }
  .p-flow-title-orange{
    font-size: 20px;
    font-weight: bold;
    color: #f4ab28;
    border: 2px solid #f4ab28;
    text-align: center;
    padding: 20px 0;
  }
  .p-flow-title-red{
    font-size: 20px;
    font-weight: bold;
    color: #f36679;
    border: 2px solid #f36679;
    text-align: center;
    padding: 20px 0;
  }
  .p-type01-flow ul{
    margin-top: 10px;
    position: inherit;
    left: inherit;
    font-size: 16px;
  }
  .p-type01-flow ol>li:nth-of-type(1) ul{
    position: inherit;
    left: inherit;
  }
  .p-type02-flow{
    width: 90%;
    margin: 0 auto;
  }
  .p-type02-flow ol{
    overflow: hidden;
  }
  .p-type02-flow > ol > li{
    position: relative;
    padding-bottom: 70px;
    float: none;
  }
  .p-type02-flow > ol > li+li{
    margin-top: 20px;
  }
  .p-type02-flow > ol > li:nth-child(-n+2):after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #33c735 transparent transparent transparent;
  }
  .p-type02-flow ul{
    margin-top: 10px;
    position: inherit;
    left: inherit;
    font-size: 16px;
  }
  .p-type02-flow ol>li:nth-of-type(1) ul{
    position: inherit;
    left: inherit;
  }
  .p-type03-flow{
    width: 90%;
    margin: 0 auto;
  }
  .p-type03-flow ol{
    overflow: hidden;
  }
  .p-type03-flow > ol > li{
    position: relative;
    padding-bottom: 70px;
    float: none;
  }
  .p-type03-flow > ol > li+li{
    margin-top: 20px;
  }
  .p-type03-flow > ol > li:nth-child(-n+3):after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #f36679 transparent transparent transparent;
  }
  .p-type03-flow ul{
    margin-top: 10px;
    position: inherit;
    left: inherit;
    font-size: 16px;
  }
  .p-type03-flow ol>li:nth-of-type(1) ul{
    position: inherit;
    left: inherit;
  }
  ul.p-blue > li{
    line-height: 1.5;
    padding-left: 16px;
    position: relative;
    font-size: 18px;
  }
  ul.p-blue > li:before{
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 8px;
    height: 7px;
    background: url(../images/career/ico_blue.jpg) no-repeat 0 0;
  }
  ul.p-green > li{
    line-height: 1.5;
    padding-left: 16px;
    position: relative;
    font-size: 18px;
  }
  ul.p-green > li:before{
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 8px;
    height: 7px;
    background: url(../images/career/ico_green.jpg) no-repeat 0 0;
  }
  ul.p-orange > li{
    line-height: 1.5;
    padding-left: 18px;
    position: relative;
    font-size: 18px;
  }
  ul.p-orange > li:before{
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 8px;
    height: 7px;
    background: url(../images/career/ico_orange.jpg) no-repeat 0 0;
  }
  ul.p-red > li{
    line-height: 1.5;
    padding-left: 18px;
    position: relative;
  }
  ul.p-red > li:before{
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 8px;
    height: 7px;
    background: url(../images/career/ico_red.jpg) no-repeat 0 0;
  }
  div.p-onst-flow{
    width: 90%;
    margin: 30px auto;
  }
  div.p-onst-flow > ul{
   overflow: hidden;
 }
 div.p-onst-flow > ul > li{
  text-align: center;
  float: none;
}
div.p-onst-flow > ul > li:nth-child(n+2){
 width: 80%;
 margin: 20px auto 0;
}
div.p-onst-flow > ul > li:nth-child(-n+5){
  margin: 20px auto 0;
  position: inherit;
  float: none;
  padding-right: 0;
}
div.p-onst-flow > ul > li:nth-child(-n+5)+li:nth-child(-n+5){
  margin: 20px auto 0;
}
div.p-onst-flow > ul > li:nth-of-type(4){
  width: 60%;
  margin: 20px auto 0;
  position: inherit;
  float: none;
  padding-bottom: 0;
}
div.p-onst-flow > ul > li:nth-child(n+5){
  width: 60%;
  margin: 20px auto 0;
  position: inherit;
  float: none;
  padding-left: 0;
}
div.p-onst-flow > ul > li:nth-child(n+5)+li:nth-child(n+5){
 margin: 20px auto 0;
}
div.p-onst-flow > ul > li:last-child{
 float: none !important;
 padding: 0 !important;
 margin: 20px auto !important;
}
div.p-onst-flow > ul > li:nth-child(-n+5):after{
 content: '';
 display: block;
 position: inherit;
 margin: 20px auto 0;
 width:14px;
 height: 26px;
 background: url(../images/career/onst_arrow_d.jpg) no-repeat;
}
div.p-onst-flow > ul > li:nth-of-type(4):after{
 content: '';
 display: block;
 position: inherit;
 margin: 20px auto 0;
 width: 14px;
 height: 26px;
 background: url(../images/career/onst_arrow_d.jpg) no-repeat;
}
div.p-onst-flow > ul > li:nth-child(n+5):after{
  content: '';
  display: block;
  position: inherit;
  margin: 20px auto 0;
  width: 14px;
  height: 26px;
  background: url(../images/career/onst_arrow_d.jpg) no-repeat;
}
div.p-onst-flow > ul > li:last-child:after{
 content: none;
 width: auto;
 height: auto;
 background: none;
 padding: 0;
 margin-left: 0;
}
.p-inquiry-box .p-box-left{
  display: table;
  padding:15px 0;
  border:2px solid #0A7EAC;
}
.p-inquiry-box .p-box-right{
  display: block;
  background: #0A7EAC;
}
.p-inquiry-box .p-text-left{
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.p-inquiry-box .p-text-left img{
  width: 85%;
}
.p-inquiry-box .p-text-right{
  padding-right: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.p-inquiry-box .p-text-right img{
  width: 85%;
}
.p-inquiry{
  margin-bottom: 30px;
}
}