@charset "utf-8";

.p-content-top-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-content-top-img h2{
	border: 2px solid #0A7EAC;
	margin-bottom:30px;}

.p-training-content,.p-training-content02{
	width:1000px;
	margin: 0 auto 70px;
	font-size:16px;
	line-height:2.5
	}
.p-training-content02{
	font-size: 225%}
.p-training-content-heading{
	font-size:16px;
	background:#B4C3D1;
	padding:8px 20px;
	color:#fff
	}
.p-training-content h4,.p-training-content h5{
	color:#1678a3;
	font-weight:bold;
	display:block;
	margin:15px 0 5px;
	}
.p-border-bottom{
	border-bottom:#B4C3D1 solid 2px;
	}
.p-trainign-border{
	border:#B4C3D1 solid 2px;
	margin:20px 0 70px;}
.p-trainign-border h5{
	margin-left:20px}
.p-trainign-border p{
	float:left;
	width:55%;
	margin: 20px;}
.p-trainign-border img{
	width:30%;
	margin: 30px 20px 70px;}
.p-trainign-border .p-sales{
	margin: 30px 20px 70px;
	}
.p-training-img100{
	max-width:100%;
	margin: 30px 0;
	
	}
.p-training-flow{
	clear:both;
	display:block;
	padding:12px 3% 12px 0;
	color:#1678a3;
	font-weight:800;
	line-height: 1.8;
	
	}
.p-training-flow p{
	margin:18px 0 0;
	color:#1678a3;}
.p-training-flow img{
	width:30%;
	float:left;
	margin: 0% 20px 30px 0;
	vertical-align:middle;
	}
@media screen and (max-width: 640px) {
.p-content-top-img{
	width:100%;
	margin:0;
	}
.p-content-top-img p{
	font-size:15px;
	width:80%;
	margin: 2% auto;
	}
.p-content-top-img h2 img{
	max-width:40%;
	margin:0;
	padding: 15px 30%;
}
.p-training-content,.p-training-content02{
	width:100%;
	line-height:1.7
}
.p-training-content p{
	width:90%;
	margin:0 5%}
.p-training-content h4,.p-training-content h5{
	margin-left:5%;}
.p-trainign-border{
	width:80%;
	margin: 2% 8%}
.p-trainign-border img{
	width:80%;
	margin: 2% 10%
}
.p-trainign-border .p-sales{
	margin: 2% 10%
}
.p-training-content hr{
	width:90%;
	margin: 0 5%;
	}
.p-training-flow{
	text-align:center;
	padding:0;
	width:80%;
	margin: 2% 10%;
	font-size:83.33333% ;
	}
.p-training-flow img{
	float:none;
	width:100%;
	margin: 2% 0;

	}
.p-training-content02{
	font-size:20px;
}
.p-training-flow p{
	margin: 10px 0;}
}
	
.p-inquiry{
	margin-bottom: 70px;
}
.p-inquiry-box{
	display: table;
}
.p-inquiry-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-inquiry-box .p-box-right{
	display: table-cell;
	vertical-align: middle;
}
@media screen and (max-width: 640px) {
.p-inquiry-box .p-box-left{
	display: table;
	padding:15px 0;
	border:2px solid #0A7EAC;
}
.p-inquiry-box .p-box-right{
	display: block;
	background: #0A7EAC;
}
	.p-inquiry-box .p-text-left{
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.p-inquiry-box .p-text-left img{
		width: 85%;
	}
	.p-inquiry-box .p-text-right{
		padding-right: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.p-inquiry-box .p-text-right img{
		width: 85%;
	}
	.p-inquiry{
		margin-bottom: 30px;
	}
}

