@charset "utf-8";
.l-content{
  font-size: 16px;
  font-family: "新ゴpro", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  line-height: 2;
}
section.p-employee{
  padding: 70px 0;
  padding-bottom: 70px;
  width: 1000px;
  margin: 0 auto;
}
.p-timeline {
  margin-left: 50px;
  list-style: none;
  margin-top: 70px;
  width: 100%;
}
.p-timeline h4{
  font-size: 26px;
  line-height: 1.8;
  color: #1878a3;
  font-weight: bold;
}
.p-timeline > li {
  overflow: hidden;
  margin: 0;
  position: relative;
}
.p-timeline-content {
  width: 75%;
  float: left;
  padding-left: 80px;
  padding-bottom: 50px;
  background: url(../images/employee/line.png) no-repeat;
  background-position: 24px 0;
}
li:last-child .p-timeline-content {
  background: none;
}
.p-timeline-content:before {
  content: "";
  width: 50px;
  height: 43px;
  background: url(../images/employee/timeline-ico.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}
.p-timeline-content p.p-txt{
  width: 460px;
}
.p-bd{
  text-align: left;
  border: 2px solid #1878a3;
  padding: 20px 0 20px 20px;
}
.p-blue_bg{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  background-color: #1878a3;
  padding: 20px 0 20px 20px;
}
h3 img{
  vertical-align: middle;
}
.p-employee ul.p-memberList{
  width: 960px;
  margin: 20px auto;
}
.p-employee ul.p-memberList li{
  width: 300px;
  display: inline-block;
  margin: 0;
}
.p-employee ul.p-memberList li a{
  text-decoration: none;
}
.p-employee ul.p-memberList li a img{
  width: 100%;
}
.p-employee ul.p-memberList li+li{
  margin-left: 12px;
}
div.p-voice-wrap{
  width: 1180px;
  margin: 0 auto;
}
section.p-voice01 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice01_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
section.p-voice02 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice02_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
section.p-voice03 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice03_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
section.p-voice04 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice04_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
section.p-voice05 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice05_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
section.p-voice06 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice06_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
section.p-voice07 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice07_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
section.p-voice08 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice08_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
section.p-voice09 div.p-mv{
  padding: 330px 0 0 0 ;
  width: 100%;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: url(../images/employee/voice09_mv_bg.jpg) no-repeat center top;
  background-color: #dee6e9;
}
div.p-mv-box{
  background-color: #fff;
  margin: 35px auto;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 630px;
}
div.p-mv-box p{
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  line-height: 1.8;
}
section.p-voice-cont{
  float: left;
  width: 50%;
}
.p-voice-cont p{
  margin-top: 20px;
  padding:0 20px 0 30px;
}
.p-mg-img{
  margin: 20px 0 0 20px;
  float: left;
}
.p-mg-img-r{
  margin: 20px 0 20px 20px;
  float: right;
}
.p-mg-txt{
  margin-top: 30px;
  padding-right: 20px;
}
.p-inquiry{
  margin-bottom: 128px;
}
.p-inquiry-box{
  display: table;
}
.p-inquiry-box .p-box-left{
  display: table-cell;
  vertical-align: middle;
}
.p-inquiry-box .p-box-right{
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 640px) {
  section.p-employee{
    padding: 70px 0;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
  }
  .l-content{
    width: 100%;
    margin: 0 auto;
  }
  section.p-employee{
    padding-bottom: 20px;
  }
  div.p-voice-wrap{
    width: 100% !important;
  }
  .p-bd{
    text-align: center;
    padding: 20px 0;
  }
  .p-bd img{
    width: 80%;
  }
  .p-blue_bg{
    text-align: center;
    padding: 20px 0;
  }
  .p-blue_bg img{
    width: 80%;
  }
  .p-employee ul.p-memberList{
    width: 95%;
    margin: 20px auto;
  }
  .p-employee ul.p-memberList li{
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  .p-employee ul.p-memberList li+li{
    margin-left: 0;
  }
  .p-employee ul.p-memberList li p{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    background: #B6C5D4;
    text-align: center;
    color: #0A7EAC;
    font-weight: bold;
  }
  section.p-voice01 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice01_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  section.p-voice02 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice02_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  section.p-voice03 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice03_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  section.p-voice04 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice04_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  section.p-voice05 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice05_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  section.p-voice06 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice06_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  section.p-voice07 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice07_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  section.p-voice08 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice08_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  section.p-voice09 div.p-mv{
    padding: 180px 0 0 0 ;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/employee/voice09_mv_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #dee6e9;
  }
  div.p-mv h2{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }
  div.p-mv h2 img{
    vertical-align: middle;
  }
  div.p-mv .p-sub-title{
    width: 90%;
    margin: 10px auto;
  }
  div.p-mv-box{
    background-color: #fff;
    margin: 35px auto;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 10px 0;
    height: auto;
  }
  div.p-mv-box p{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
  }
  section.p-voice-cont{
    float: none;
    width: 90%;
    margin: 0 auto;
  }
  .p-voice-cont p{
    margin-top: 20px;
    padding:0;
  }
  .p-timeline {
    margin: 0 auto;
    width: 95%;
    list-style: none;
    margin-top: 30px;
  }
  .p-timeline h4{
    font-size: 16px;
    color: #1878a3;
    font-weight: bold;
    line-height: 1.8;
  }
  .p-timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .p-timeline-content {
    width: 100%;
    float: left;
    padding-left: 35px;
    padding-bottom: 50px;
    background: url(../images/employee/line.png) no-repeat;
    background-position: 11px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  li:last-child .p-timeline-content {
    background: none;
  }
  .p-timeline-content:before {
    content: "";
    width: 50px;
    height: 43px;
    background: url(../images/employee/timeline-ico.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }
  .p-timeline-content p.p-txt{
    width: 100%;
  }
  .p-timeline-content:before {
    content: "";
    width: 30px;
    height: 23px;
    background: url(../images/employee/timeline-ico.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }
  .p-mg-img{
    float: none;
    width: 90%;
    margin: 30px auto;
  }
  .p-mg-img-r{
    float: none;
    width: 90%;
    margin: 30px auto;
  }
  .p-mg-txt{
    width: 90%;
    margin: 30px auto;
    padding-right: 0;
  }
  .p-inquiry-box{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .p-inquiry-box .p-box-left{
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:15px 0;
    border:2px solid #0A7EAC;
  }
  .p-inquiry-box .p-box-right{
    display: block;
    background: #0A7EAC;
    width: 100%;
  }
  .p-inquiry-box .p-box-right img{
    width: 100%;
  }
  .p-inquiry-box .p-text-left{
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  .p-inquiry-box .p-text-left img{
    width: 85%;
  }
  .p-inquiry-box .p-text-right{
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
  .p-inquiry-box .p-text-right img{
    width: 85%;
  }
  .p-inquiry{
    margin-bottom: 30px;
  }
}