@charset "utf-8";


.p-enquete-top-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-enquete-top-img h2{
	border: 2px solid #0A7EAC;
	margin-bottom:30px;}

.p-enquete-inner{
	width:1000px;
	margin: 0 auto;
	padding-bottom:5%;
}
.p-enquete-inner h3{
	font-size:32px;
	color:#00B8EE;
	}
.p-enquete-inner h3 img,.p-enquete-inner h4 img{
	float:left;
	margin-left:6px;
	}
.p-enquete-inner h4{
	margin:30px 0}
.p-enquete-inner h3 span{
	line-height:2.3;
	margin-left:20px;
	font-weight:bold}
.p-enquete-inner h4 span{
	font-size:20px;
	line-height:3.5;
	margin-left:12px;
	color:#107EAC;
	font-weight:bold
}
.p-each-enquete{
	margin-bottom:70px;}
.p-each-enquete li{
	
	font-size:16px;
	font-weight:700;
	margin: 50px 0 30px;
	
	vertical-align:top;
	}
.p-each-enquete li:before{
	content:url(../images/questionnaire/enquete_each.png);
	display:block;
	float:left;
	margin: -10px 20px 10px 0;
}
@media screen and (max-width: 640px) {
.p-enquete-top-img{
	width:100%;
	margin:0;
	}
.p-enquete-top-img p{
	width:80%;
	margin: 2% auto;
	}
.p-enquete-top-img h2 img{
	max-width:40%;
	margin:0;
	padding: 15px 30%;
	border: 2px solid #0A7EAC;
}
.p-enquete-inner{
	width:100%;
}
.p-enquete-inner h3 img,.p-enquete-inner h4 img{
		width:20%;
		clear:both;
	}
.p-enquete-inner h3 img{
	
	display:block;
	margin: 4% 0 4% 5px ;
}

.p-enquete-inner h3 span,.p-enquete-inner h4 span{
	display:block;
	line-height:normal;
	font-size:20px;
	text-align:center;
	margin:0;
}
.p-enquete-inner h4{
	margin: 2% 0}
.p-enquete-inner h4 span{

	line-height:4.5;}

.p-each-enquete{
	margin:18% 0;}
.p-each-enquete li{
	clear:both;
	margin:8% 0;
	font-size:100%;}
.p-each-enquete li:before{
	margin: 0% 0 15%;
}
}	

.p-inquiry{
	clear:both;
	margin-bottom: 70px;
}
.p-inquiry-box{
	display: table;
}
.p-inquiry-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-inquiry-box .p-box-right{
	display: table-cell;
	vertical-align: middle;
}
@media screen and (max-width: 640px) {
.p-inquiry-box .p-box-left{
	display: table;
	padding:15px 0;
	border:2px solid #0A7EAC;
}
.p-inquiry-box .p-box-right{
	display: block;
	background: #0A7EAC;
}
	.p-inquiry-box .p-text-left{
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.p-inquiry-box .p-text-left img{
		width: 85%;
	}
	.p-inquiry-box .p-text-right{
		padding-right: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.p-inquiry-box .p-text-right img{
		width: 85%;
	}
	.p-inquiry{
		margin-bottom: 30px;
	}
}

