@charset "utf-8";

.p-mv{
	position: relative;
	height: 597px;
	min-width: 1060px;
	margin-bottom: 30px;
	background: url(../images/top/img_top_01.png) no-repeat;
	background-size:cover
}
.p-mvtext{
	position: absolute;
	width: 100%;
	text-align: center;
	top:250px;
}

@media screen and (max-width: 640px) {
	.p-mv{
		position: relative;
		height: inherit;
		min-width: 100%;
		margin-bottom: 0;
		background: inherit;
	}
	.p-mvtext{
		position: absolute;
		width: 60%;
		text-align: center;
		top:40%;
		left: 20%;
	}
}

.p-news{
	margin-bottom: 30px;
}
.p-news-warp{
	display: table;
}
.p-news-title{
}
.p-news-content{
	width: 1060px;
}
.p-news-content li{
	display: table;
	margin-bottom: 30px;
}
.p-news-content li:last-child {
	margin-bottom: 0;
}
.p-content-title{
	background: #107EAC;
	padding: 5px
}
.p-content-texts{
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}

.p-info-text {
	font-size: 18px;
	line-height: 40px;
}

.p-info-boxtext {
	font-size: 30px;
	line-height: 50px;
	margin-left: 30px;
	text-align: center;
}

h3 {
	font-size: 30px;
}
@media screen and (max-width: 640px) {
	.p-news{
		margin-bottom: 0;
	}
	.p-news-warp{
		margin-bottom: 0;
		background: #0A7EAC;
	}
	.p-news-warp p{
		padding: 5px 0;
		color: #fff;
		text-align: center;
	}

	.p-content-title{
	background: #107EAC;
	width: 90%;
	margin: 0 10;
	padding-top: 5px;
	padding-bottom: 5px;
	}

	.p-info-text {
	font-size: 12px;
	line-height: 24px;
	padding: 0 10px;
}

	.p-info-boxtext {
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
}
}



.p-contentbox {
	width: 500px;
	margin-left: 30px;
}

.p-info{
	position: relative;
	min-width: 1060px;
	margin-top: 70px;
	margin-bottom: 30px;
	background-size:cover
}

.p-info-top-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-info-top-img h2{
	border: 2px solid #0A7EAC;
	margin-bottom:30px;}
.p-info-top-img p{
	margin: 3% 0;}

.p-president {
	margin-bottom: 50px;
}

.p-info-top-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-profile-top-img h2{
	margin-top: 30px;
	margin-bottom:30px;}
.p-profile-top-img p{
	margin: 3% 0;}

.p-message-text{
	position: absolute;
	width: 100%;
	text-align: center;
	top:150px;
}
.p-message-text .p-text-01{
	margin-bottom: 20px;
}
.p-message-text .p-text-02{
	margin-bottom: 30px;
}
.p-message-text .p-btn-01{
	margin-bottom: 30px;
}
.p-message-text .p-btn-01 a{
	display:block;
}
.p-message-text .p-btn-01 a img{
	margin:0 auto;
}

.flLa{
	float: left;
}
@media screen and (max-width: 640px) {
	.p-message{
		position: relative;
		height: 110px;
		min-width: 100%;
		margin-bottom: 0;
		background: #0A7EAC url(../images/top/img_top_sp_03.png) no-repeat;
		background-size:cover
	}
	.p-message-text{
		position: absolute;
		width: 100%;
		text-align: center;
		top:30px;
	}
	.p-message-text .p-text-01{
		width:25%;
		margin:0 auto;
	}
	.p-message-text .p-text-02{
		width:80%;
		margin:0 auto 10px;
	}
	.p-message-text .p-btn-01{
		width:30%;
		margin:0 auto;
	}
	.l-wrap {
		width: 100%;
	}

	.p-contentbox {
	width: 100%;
	margin: 0;
}



}
.p-inquiry{
	margin-bottom: 70px;
}
.p-inquiry-box{
	display: table;
}
.p-inquiry-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-inquiry-box .p-box-right{
	display: table-cell;
	vertical-align: middle;
}

.p-boxtext-2 {
	margin-left: 30px;
}
@media screen and (max-width: 640px) {
.p-inquiry-box .p-box-left{
	display: table;
	padding:15px 0;
	border:2px solid #0A7EAC;
}
.p-inquiry-box .p-box-right{
	display: block;
	background: #0A7EAC;
}

.p-boxtext-2 {
	margin: 0;
	text-align: center;
}

h2{
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

.flLa {
	float: none;
}
	.p-inquiry-box .p-text-left{
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.p-inquiry-box .p-text-left img{
		width: 85%;
	}
	.p-inquiry-box .p-text-right{
		padding-right: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.p-inquiry-box .p-text-right img{
		width: 85%;
	}
	.p-inquiry{
		margin-bottom: 30px;
	}

	.p-info-top-img{
	width:100%;

}

.p-info-top-img{
	width:100%;

	}

		h2{
		padding-left: 80px;
		padding-right: 80px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	h3 {
		font-size: 17px;
	}

.p-info {
	min-width: 100%;
}
}

.p-company{
	text-align: center;
	margin-bottom: 30px;
}

.p-company h3{
	margin-bottom: 50px;
}
.p-company p{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
	margin-bottom: 60px;
}
.p-company .p-link-box{
	display: table;
	margin-bottom: 70px;
}
.p-company .p-link-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-company .p-link-box .p-box-right{
	display: table-cell;
		vertical-align: middle;
}
.p-company .p-concept{
	color: #107EAC;
}
@media screen and (max-width: 640px) {
	.p-company{
		margin-bottom: 20px;
	}
	.p-company h3{
		width: 32%;
		margin:0 auto 30px;
	}
	.p-company p{
		padding: 0 15px;
		text-align: left;
		font-size: 10px;
		font-weight: inherit;
		line-height:3em;
		margin-bottom: 30px;
	}
	.p-company .p-link-box{
		display: table;
		margin-bottom: 20px;
	}
	.p-company .p-concept{
		color: #107EAC;
		color:#595757;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	}
}

.color-black {
	color: #000;
}

.p-member{
}
.p-member .p-content-mv{
	background: #949797;
	margin-bottom: 30px;
}
.p-member .p-content-mv h3{
	padding: 62px 0;
	background: url(../images/top/img_top_10.png) no-repeat;
	background-position: center 0;
	text-align: center;
}
.p-member .p-members{
	margin-bottom: 70px;
}
.p-member .p-member-box{
	float: left;
	margin-right: 48px;
}
.p-member .p-member-box:nth-child(3n) {
	margin-right: 0px;
}
.p-member .p-member-box a{
	display: block;
	width:301px;
	height:451px;
}
.p-member .p-member-box a.p-memver-01{
	background-image: url(../images/top/img_top_13.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-01:hover{
	background-image: url(../images/top/img_top_13_on.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-02{
	background-image: url(../images/top/img_top_14.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-02:hover{
	background-image: url(../images/top/img_top_14_on.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-03{
	background-image: url(../images/top/img_top_15.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-03:hover{
	background-image: url(../images/top/img_top_15_on.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-04{
	background-image: url(../images/top/img_top_16.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-04:hover{
	background-image: url(../images/top/img_top_16_on.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-05{
	background-image: url(../images/top/img_top_17.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-05:hover{
	background-image: url(../images/top/img_top_17_on.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-06{
	background-image: url(../images/top/img_top_18.png);
	transition: background-image 0.5s;
}
.p-member .p-member-box a.p-memver-06:hover{
	background-image: url(../images/top/img_top_18_on.png);
	transition: background-image 0.5s;
}
.p-member .p-link-box{
	display: table;
	margin-bottom: 70px;
}
.p-member .p-link-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-member .p-link-box .p-box-right{
	display: table-cell;
		vertical-align: middle;
}
@media screen and (max-width: 640px) {
	.p-member .p-content-mv{
		background: #949797;
		margin-bottom: 30px;
		background: url(../images/top/img_top_sp_11.png) no-repeat;
		background-position: center 0;
		background-size: 100% auto;
		padding: 20px 0;
	}
	.p-member .p-content-mv h3{
		padding: 0;
		margin-bottom: 5px;
		background:none;
		background-position: center 0;
		background-size: 100% auto;
		text-align: center;
	}
	.p-member .p-content-mv h3 img{
		width: 25%;
		margin: 0 auto;
	}
	.p-member .p-more-btn{
		width: 20%;
		margin: 0 auto;
	}
	.p-member .p-member-box{
		float: inherit;
		margin:0 auto;
	}
	.p-member .p-member-box a{
		display: block;
		width:301px;
		height:451px;
		margin:0 auto;
	}
	.p-member .p-member-box a.p-memver-01{
		background-image: url(../images/top/img_top_13_on.png);
	}
	.p-member .p-member-box a.p-memver-02{
		background-image: url(../images/top/img_top_14_on.png);
	}
	.p-member .p-member-box a.p-memver-03{
		background-image: url(../images/top/img_top_15_on.png);
	}
	.p-member .p-member-box a.p-memver-04{
		background-image: url(../images/top/img_top_16_on.png);
	}
	.p-member .p-member-box a.p-memver-05{
		background-image: url(../images/top/img_top_17_on.png);
	}
	.p-member .p-member-box a.p-memver-06{
		background-image: url(../images/top/img_top_18_on.png);
	}
	.p-member .p-member-box p{
		width: 90%;
		margin:0 auto;
		padding: 10px 0;
		background:#B6C5D4;
		text-align: center;
		color:#0A7EAC;
		font-weight: bold
	}
	.p-member .p-member-box p span{
		font-size: 14px;
	}
}

.p-recruit{
	text-align: center;
}
.p-recruit h3{
	margin-bottom: 70px;
}
.p-recruit .p-links{
	float: left;
	margin-right: 48px;
}
.p-recruit .p-links:nth-child(3n) {
	margin-right: 0px;
}
.p-recruit .p-link-box{
	display: table;
	margin-bottom: 70px;
}
.p-recruit .p-link-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-recruit .p-link-box .p-box-right{
	display: table-cell;
		vertical-align: middle;
}
@media screen and (max-width: 640px) {
	.p-recruit h3{
		width: 30%;
		margin:0 auto 30px;
	}
	.p-recruit .p-links{
		float: inherit;
		margin:0;
	}
	.p-recruit .p-link-box{
		display: block;
		margin-bottom: 0;
	}
	.p-recruit .p-link-box .p-box-left{
		display: block
		vertical-align: middle;
	}
	.p-recruit .p-link-box .p-box-right{
		display: block;
			vertical-align: middle;
	}
}


