@charset "utf-8";

.p-internship-top-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-internship-top-img h2{
	border: 2px solid #0A7EAC;
	margin-bottom:30px;}
.p-internship-top-img p{
	margin: 30px 0;}

.p-internship-inner,.p-internship-inner2{
	width:1000px;
	margin: 0 auto;
	
}
.p-internship-inner h3{
	font-size:25px;
	text-align:center;
	color:#1678A3;
	margin: 70px 0 ;
	font-weight:bold;
	}
.p-internship-inner h4{
	font-size:20px;
	background:#B4C3D1;
	padding:8px 20px;
	color:#fff
}
.p-internship-inner p{
	margin: 30px ;
	font-size:20px;
	line-height:2.5}
.p-internship-inner2 h3{
	font-size:20px;
	color:#FFF;
	text-align:center;
	background-color:#1678A3;
	padding:8px 20px;
}
.p-internship-inner2 p{
	font-size:20px;
	line-height:2.5;
	margin: 30px;
}
.p-internship-inner2 p span{
	display:block;
	text-indent:50px;}
.p-internship-recruit{
	clear:both;
	padding:5% 0;
}
.p-internship-recruit a{
	margin: 0 20px
}
.p-notes{
	margin-left:30px;
	line-height:1.8;}
@media screen and (max-width: 640px) {
.p-internship-top-img{
	width:100%;
	margin:0;
	}
.p-internship-top-img p{
	font-size:15px;
	width:80%;
	margin: 2% auto;
	}
.p-internship-top-img h2 img{
	max-width:40%;
	margin:0;
	padding: 15px 30%;

}
.p-internship-inner,.p-internship-inner2{
	width:100%;
}
.p-internship-inner p,.p-internship-inner2 p{
	font-size:15px;
	line-height: 1.8;
}
.p-internship-inner h3{
	margin: 2% 0;
}
.p-internship-inner2 p span{
	line-height:normal;
	text-indent:0;
	margin: 2% 0;
	}
.p-internship-recruit a{
	margin: 0;
}
}


