@charset "utf-8";


.p-media-inner{
	width:1000px;
	margin: 0 auto;
	overflow:hidden;
	padding-bottom:70px
	
}
.p-media-inner h2{
	font-size:50px;
	color:#107EAC;
	text-align:center;
	
	}
.p-each-media{
	float:left;
	width: 23%;
	padding: 0px 10px 10px;
	text-align:center
	}
.p-upper-title,.p-under-title{
	font-size:19px;
	height:56px;
	display:block;
	
	text-align:left;
	}
.p-upper-title{
	padding: 0 20px;}
.p-under-title{
	padding:30px 20px;}
.p-each-media img{
	width:100%;
	display:inline-block;
	}

@media screen and (max-width: 640px) {
.p-media-inner{
	width:90%;
	margin: 0 5%;
}
.p-each-media{
	float:none;
	width:100%;
	padding:0;
}
.p-upper-title,.p-under-title{
	height:auto;
	margin:5% auto;
	padding:0;}

}


