@charset "utf-8";

.p-message{
	position: relative;
	min-width: 1060px;
	margin-top: 40px;
	margin-bottom: 30px;
	background-size:cover
}

.p-president {
	margin-bottom: 50px;
}

.p-president-ima {
	 padding-left: 20px;
	 padding-right: 20px;
}

.p-seminar-top-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-seminar-top-img h2{
	border: 2px solid #0A7EAC;
	margin-bottom:30px;}
.p-seminar-top-img p{
	margin: 3% 0;}

.p-message-text p{
font-size: 18px;
line-height: 50px;
}
.p-message-text .p-text-01{
	margin-bottom: 20px;
}
.p-message-text .p-text-02{
	margin-bottom: 30px;
}
.p-message-text .p-btn-01{
	margin-bottom: 30px;
}
.p-message-text .p-btn-01 a{
	display:block;
}
.p-message-text .p-btn-01 a img{
	margin:0 auto;
}
@media screen and (max-width: 640px) {
	.p-message{
		position: relative;
		min-width: 100%;
		margin-bottom: 0;
		background-size:cover
	}
	.p-message-text .p-text-01{
		width:25%;
		margin:0 auto;
	}
	.p-message-text .p-text-02{
		width:80%;
		margin:0 auto 10px;
	}
	.p-message-text .p-btn-01{
		width:30%;
		margin:0 auto;
	}

	.p-president-image {
	 padding: 0px;
}

.flL {
	float: none;
}

.p-message-text p{
font-size: 12px;
line-height: 24px;
padding: 0 10px;
}
}
.p-inquiry{
	margin-bottom: 70px;
}
.p-inquiry-box{
	display: table;
}
.p-inquiry-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-inquiry-box .p-box-right{
	display: table-cell;
	vertical-align: middle;
}
@media screen and (max-width: 640px) {
.p-inquiry-box .p-box-left{
	display: table;
	padding:15px 0;
	border:2px solid #0A7EAC;
}
.p-inquiry-box .p-box-right{
	display: block;
	background: #0A7EAC;
}
	.p-inquiry-box .p-text-left{
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.p-inquiry-box .p-text-left img{
		width: 85%;
	}
	.p-inquiry-box .p-text-right{
		padding-right: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.p-inquiry-box .p-text-right img{
		width: 85%;
	}
	.p-inquiry{
		margin-bottom: 30px;
	}

	h2{
		padding-left: 80px;
		padding-right: 80px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.p-seminar-top-img{
	width:100%;
	margin-top: 20px;
	margin bottom: 40px;
}
}