@charset "utf-8";


.p-requirements-h2-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-requirements-h2-img h2{
	border: 2px solid #0A7EAC;
	margin-bottom:30px;}

.p-requirements-recruit,.p-requirements-guideline,.p-requirements-flow,.p-requirements-faq{
	
	width:1000px;
	margin: 0 auto;
	font-size:20px;
	overflow:hidden
}

.p-requirements-recruit{text-align:center;}
.p-requirements-recruit h3{
	font-size:30px;
	color:#107EAC;
	font-weight:700;
	text-align:center;
	margin-bottom:30px;
	letter-spacing: 8px;
}
.p-requirements-recruit img{
	margin: 40px 0 70px ;
	display:inline-block;
	}
.p-requirements-recruit p{
	line-height:3;
	text-align:left;
	font-size:20px;
	margin: 0 20px 30px
}
.p-requirements-guideline h3,.p-requirements-faq h3{
	font-size: 20px;
    background: #B4C3D1;
	margin: 30px 0 ;
    padding: 8px 20px;
    color: #fff;
}
.p-requirements-guideline h4{
	display: block;
    margin: 20px 0 0;
    font-weight: bold;
    color: #1678A3;
	}
.p-requirements-guideline p{
	border-bottom: #B4C3D1 solid 2px;
	padding: 20px 0;
	}
.p-requirements-guideline a{
	margin: 0 12.5px ;}
.p-requirements-flow img{
	margin: 30px 0;
	}
.p-requirements-flow p{
	font-size:15px
}

.p-requirements-faq dt:before,.p-requirements-faq dd:before{
content:url(../images/requirements/requirements_q.png);
	display:block;
	float:left;
	margin: -10px 20px 10px 0;
}
.p-requirements-faq dd:before{
content:url(../images/requirements/requirements_a.png);
}
.p-requirements-faq dt,.p-requirements-faq dd{
	font-size:16px;
	font-weight:700;
	margin: 50px 0 30px;
	display:block;
	}
	.p-requirements-faq dd{color:#00B8EE}
@media screen and (max-width: 640px) {
.p-requirements-h2-img{
	width:100%;
	margin:0;
	}
.p-requirements-h2-img p{
	font-size:15px;
	width:80%;
	margin: 2% auto;
	}
.p-requirements-h2-img h2 img{
	max-width:40%;
	margin:0;
	padding: 15px 30%;
}
.p-requirements-recruit h3{
font-size:18px;
}
.p-requirements-recruit p{
	font-size:15px;
	line-height:1.8
}

.p-requirements-guideline a{
	margin: 0 ;}
.p-requirements-flow h3 img{
	width:75%;
	margin: 0 auto;
	
}
.p-requirements-flow p{font-size:12px;
margin: 8px 0;
text-align:center;}
.p-requirements-recruit,.p-requirements-guideline,.p-requirements-flow,.p-requirements-faq{
	width:90%;
	margin: 0 5%;
	font-size:15px;
}
.p-requirements-faq dt:before,.p-requirements-faq dd:before{
	float:none;
	margin:0;
	}

.p-requirements-faq dt:before,.p-requirements-faq dd:before{
	text-align:center;}
	.p-requirements-faq dt:before img,.p-requirements-faq dd:before img{
		display:inline-block;}
}