@charset "utf-8";

.p-seminar-top-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-seminar-top-img h2{
	border: 2px solid #0A7EAC;
	margin-bottom:30px;}
.p-seminar-top-img p{
	margin: 30px 0;}

.p-seminar-inner{
	width:1000px;
	margin: 0 auto;
	padding-bottom:5%;
}
.p-seminar-inner table{
	width:100%;
}
.p-seminar-inner th{
	background:#B4C3D1;
	border:#B5B5B6 solid 2px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	font-size:20px;
	padding:10px 0;

}
.p-seminar-inner td{
	text-align:center;
	vertical-align:middle;
	font-size:15px;
		border-color:#B5B5B6 ;
	border-style:solid ; 
	border-width: 0 2px 2px 2px;
	padding:10px 0;}


.p-seminar-recruit{
	clear:both;
	padding:5% 0;
}
.p-seminar-recruit a{
	margin: 0 20px
}

.p-seminar-internship{
	line-height:2.8;
	font-weight:600;}
.p-seminar-internship h3{
border: 2px solid #0A7EAC;
}
.p-seminar-internship p{
	margin: 20px 0 30px;
	font-size:20px;
	border-bottom:#00B8EE solid 3px;
	}
.p-seminar-recruit2 p{
	font-size:30px;
	color:#1678A3;
	text-align:center;
	border:none}
.p-seminar-internship span{
	display:block;
	color:#1678A3}
.p-seminar-internship h4{
	font-size:20px;
	background:#1678A3;
	margin: 20px 0 30px;
	padding:4px 25px;
	color:#fff
	}

.p-seminar-lecturer h4,.p-time-table h4{
	clear:both;
	font-size:20px;
	font-weight:bold;
	background:#B4C3D1;
	padding:8px 20px;
	color:#1678A3
	}
.p-seminar-lecturer p{
	width:70%;
	float:left;
	border:none}
.p-seminar-internship h5{
	font-size:25px;
	color:#1678A3
}
.p-seminar-lecturer img{
	float:right;
	width:20%;
padding:0 ;
}

.p-border-none{
	margin: 20px 0 30px;
	font-size:20px;}
	
.p-seminar-flow{
	clear:both;
	display:block;
	padding:15px 3% 15px 0;
	color:#1678a3;
	font-weight:800;
	line-height: 1.8;
	
	}
.p-seminar-flow p{
	font-size:20px;
	margin:18px 0 0;
	color:#1678a3;}
.p-seminar-flow img{
	width:30%;
	float:left;
	margin: 0 20px 30px 0;
	vertical-align:middle;
	}
.p-others{
	font-size:20px;}
.p-seminar-notes{
	clear: both;
	font-size: 18px;
	padding-top: 30px;
	margin-bottom: 30px;
	line-height: 2em;
	}
.p-seminar-notes h4{
	color:#00B8EE;
	font-weight:bold;
	margin-bottom:30px
	}
@media screen and (max-width: 640px) {
.p-seminar-top-img{
	width:100%;
	margin:0;
	}
.p-seminar-top-img p{
	font-size:15px;
	width:80%;
	margin: 2% auto;
	}
.p-seminar-top-img h2 img{
	max-width:40%;
	margin:0;
	padding: 15px 30%;

}
.p-seminar-inner{
	width:100%;
}
.p-seminar-inner th{
	font-size:15px}
.p-seminar-recruit a{
	margin: 0;
}
.p-seminar-internship{
	line-height:1.8;
	font-weight:normal;
	
	}
.p-seminar-internship h5{
	font-size:18px; 
	margin-left: 20px;}
	.p-seminar-lecturer h5{
	margin-left: 1%; }
.p-seminar-lecturer img{
	font:none;
	width:80%;
	margin: 2% 10%;}
.p-seminar-internship p,.p-border-none,.p-others,.p-seminar-notes{
	width:90%;
	margin: 20px 5%;
	padding-bottom:10px;
	font-size:15px;
}
.p-seminar-flow{
	text-align:center;
	padding:0;
	width:80%;
	margin: 5% 10%;
	font-size:83.33333% ;
	}
.p-seminar-flow img{
	float:none;
	width:100%;
	margin: 5% 0;

	}

.p-seminar-internship h3 img{
	max-width:40%;
	margin:0;
	padding: 15px 30%;
	
}
.p-seminar-recruit2 p{
	font-size:20px;
}
.p-seminar-lecturer h5{
	font-size:20px;
	width:90%;
	margin: 5%
}
}
.p-inquiry{
	clear:both;
	margin-bottom: 70px;
}
.p-inquiry-box{
	display: table;
}
.p-inquiry-box .p-box-left{
	display: table-cell;
	vertical-align: middle;
}
.p-inquiry-box .p-box-right{
	display: table-cell;
	vertical-align: middle;
}
@media screen and (max-width: 640px) {
.p-inquiry-box .p-box-left{
	display: table;
	padding:15px 0;
	border:2px solid #0A7EAC;
}
.p-inquiry-box .p-box-right{
	display: block;
	background: #0A7EAC;
}
	.p-inquiry-box .p-text-left{
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.p-inquiry-box .p-text-left img{
		width: 85%;
	}
	.p-inquiry-box .p-text-right{
		padding-right: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.p-inquiry-box .p-text-right img{
		width: 85%;
	}
	.p-inquiry{
		margin-bottom: 30px;
	}
}

