@charset "utf-8";


.p-training-top-img{
	width:1000px;
	margin: 60px auto 30px;
	font-size:18px;
	font-weight:700;
	line-height:1.8
}
.p-training-top-img h2{
	border: 2px solid #0A7EAC;
	margin-bottom:30px;}

.p-training-inner{
	
	width:1000px;
	margin: 0 auto;
	padding-bottom:5%;
	font-size:20px;
	overflow:hidden
}
.p-training-inner h3{
	font-size:20px;
	background:#B4C3D1;
	padding:8px 20px;
	color:#fff
	}
.p-training-inner p{
	
	padding: 20px 0;
	border-bottom:#B4C3D1 solid 2px;}
.p-training-inner h4{	
	display:block;
	margin: 20px 0 0;
	font-weight:bold;
	color:#1678A3
	}

.p-training-left{
	float:left;
	width:60%;
	font-size:20px;
	line-height:2;}
.p-training-right{
	float:right;
	width:40%;
	text-align:right;}
.p-training-right img{
	width:75%;
	display:inline-block;}
.p-training-right img:nth-child(1){
	margin:50px 30px 0 0 ;}
.p-training-right a img:nth-child(1){
	margin: 15px 30px 0;}
@media screen and (max-width: 640px) {
.p-training-top-img{
	width:100%;
	margin:0;
	}
.p-training-top-img p{
	font-size:15px;
	width:80%;
	margin: 2% auto;
	}
.p-training-top-img h2 img{
	max-width:40%;
	margin:0;
	padding: 15px 30%;
}
.p-training-inner{
	width:100%;
	font-size:15px;
}
.p-training-inner p{
	width:90%;
	margin: 0 5%;}
.p-training-inner h4{
	margin-left:5%;
}
.p-training-left,.p-training-right{
	float:none;
	width:90%;
	margin: 0 5%;
	font-size:15px
	}
.p-training-right{
	text-align:center}
.p-training-right img{
	width:90%;
	margin:0;}
.p-training-right img:nth-child(1){
	margin:5%}
.p-training-right a img:nth-child(1){
	margin:0}
}
