@charset "utf-8";

/* Table Of Contents
----------------------------------------------------------------------------
General Elements
header
gNav
visual
topicPath
footer
---------------------------------------------------------------------------- */


/*General Elements
---------------------------------------------------------------------------- */
body{
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 12px;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	color:#333;
}
.mac body{
	font-size: 11px;
}
a{
	text-decoration:underline;
	color: #2c6cd6;
	outline: none;
}
a:hover{ text-decoration: none; }
p,li,a{
	color:#595757;
}

/*l-header
---------------------------------------------------------------------------- */
.l-header{
	padding: 10px 0 0;
}
.l-header-inner{
	width: 1020px;
	padding:0 20px 0;
	margin: 0 auto;
}
.l-header h1{
	float: left;
}

@media screen and (max-width: 640px) {
	.l-header{
		padding: 0;
	}
	.l-header-inner{
		width: 100%;
		padding:0 0 0;
	}
}
/* l-gNav
---------------------------------------------------------------------------- */
.l-gNav{
	float: right;
	width: 560px;
	padding:10px 0 0;
}
.l-gNav ul > li {
	position: relative;
	padding:0 10px;
	float: left;

}
.l-gNav ul > li a{
	display: block;
	text-align: center;
}
.l-gNav ul > li img{
	padding:20px 0;
	cursor:pointer;
}
.l-gNav ul > li > img:hover{
	background: url(../../images/common/icn_arrow_01.png) no-repeat;
	background-position: center bottom;
}
.l-gNav ul > li > ul{
	display: none;
	position: absolute;
	top: 55px;
	left:50%;
	margin-left:-90px;
	z-index: 20;
}
.l-gNav ul > li > ul > li a{
		display: block;
		width: 160px;
		padding: 10px 0;
		background: #fff;
		color: #00B8EE;
		font-weight: bold;
		font-size: 116.7%;
		text-decoration:none;
		text-align: center;
}
.l-gNav ul > li > ul > li a:hover{
	opacity: 0.5;
}
.l-entry-btn{
	float: right;
}
.l-open-menu{
	display: none;
}

@media screen and (max-width: 640px) {
	.l-gNav{
		float: right;
		width: 50%;
	padding:5px 0;
	}
	.l-open-menu{
		position: fixed;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 9999;
	}
	.l-open-menu .l-inner{
		width: 300px;
		margin:100px auto 0;
		z-index: 20;
	}
	.l-menu-bg{
		position: fixed;
		top:0;
		width: 100%;
		height: 100%;
		z-index:-1;
		background: rgba(89,87,87,0.7);
	}
	.l-open-menu .l-inner li{
		float: left;
		width: 140px;
		height: 50px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.l-open-menu .l-inner li:nth-child(even){
		height: 50px;
		margin-right: 0;
	}
	.l-close-btn{
		position: fixed;
		top: 5px;
		right: 5px;
		width: 35px;
		z-index: 30;
	}
	.l-close-btn img{
		width: 100%;
	}
}

/* l-topicPath
---------------------------------------------------------------------------- */
.l-topicPath{
	min-width: 1060px;
	background: #107EAC;
}
.l-topicPath ol{
	width: 1020px;
	padding:10px 20px;
	margin: 0 auto;
}
.l-topicPath ol li{
	display: inline-block;
	color: #fff;
}
.l-topicPath ol li a{
	color: #fff;
	text-decoration:none;
}
@media screen and (max-width: 640px) {
	.l-topicPath{
		min-width: 100%;
		background: #107EAC;
	}
	.l-topicPath ol{
		width: inherit;
		padding:10px 20px;
		margin: 0 auto;
	}
}

/* l-content
---------------------------------------------------------------------------- */
.l-content{

}
.l-wrap{
	position: relative;
	width: 1020px;
	padding:0 20px 0;
	margin: 0 auto;
}
.l-wrap-02{
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
@media screen and (max-width: 640px) {
	.l-wrap{
		position: relative;
		width: 100%;
		padding:0;
		margin: 0 auto;
	}
	.l-wrap-02{
		position: relative;
		width: 100%;
		padding:0;
		margin: 0 auto;
	}
	.l-content img{
		width: 100%;
	}
}

/* l-sidebar
---------------------------------------------------------------------------- */
.l-sidebar{

}
/* l-footer
---------------------------------------------------------------------------- */
.l-footer{
	min-width: 1060px;
	padding:30px 0;
	background: #DCDDDD;
}
.l-footer-inner{
	width: 1060px;
	margin: 0 auto;
}
.l-footer-links{
	padding:20px 0 20px 230px;
}
.l-footer-links ul{
	min-width: 120px;
	float: left;
	padding-left: 40px;
}

.l-footer-links ul li {
	padding:0 0 5px;
	color:#727171;
	font-size: 108.3%;
}
.l-footer-links ul li a{
	display: block;
	padding:0 0 0 15px;
	background: url(../../images/common/icn_arrow_02.png) no-repeat;
	background-position: left center;
	color:#727171;
	font-size: 108.3%;
	text-decoration:none;
}

@media screen and (max-width: 640px) {
	.l-footer{
		min-width: 100%;
		padding:0 0;
		background: #DCDDDD;
	}
	.l-footer-inner{
		width: 100%;
	}
	.l-footer-links{
		padding:0;
		text-align: center;
	}
	.l-footer-links a{
		display: block;
		padding: 5px 0 10px;
		border-bottom: 1px solid #ccc;
		text-decoration: none;
		color:#595757;
		font-weight: bold;
	}
}