@charset "utf-8";


/*------------------------ 分類：ボックス系 ------------------------*/
.boxA{
}
.wrapper{
  overflow: hidden;
}

/*------------------------ 分類：アイコン系------------------------*/
.iconA{
}



/*------------------------ 分類：文字色系------------------------*/
.colorA{
}

/*------------------------ 分類：横幅系------------------------*/
@media screen and (max-width: 640px) {
  .sp-w65p{
    width: 65% !important;
  }
  .sp-w80p{
    width: 80% !important;
  }
}

/*------------------------ 分類：マージン系------------------------*/
.mt70{
  margin-top: 70px !important;
}
@media screen and (max-width: 640px) {
  .sp-mt0{
    margin-top: 0 !important;
  }
  .sp-center{
    margin:0 auto !important;
  }
  .sp-mt20{
    margin-top: 20px !important;
  }
}


/*------------------------ 分類：フロート系------------------------*/
.fll{
  float: left;
}
.flr{
  float: right;
}
.fln{
  float: none;
}
@media screen and (max-width: 640px) {
  .sp_fln{
    float: none !important;
  }
}