@charset "utf-8";


/*------------------------ 分類：ボックス系 ------------------------*/
.boxA{
}


/*------------------------ 分類：アイコン系------------------------*/
.iconA{
}



/*------------------------ 分類：文字色系------------------------*/
.colorA{
}


