@charset "utf-8";


/*------------------------ 分類：ボックス系 ------------------------*/
.boxA{
}


/*------------------------ 分類：アイコン系------------------------*/
.iconA{
}



/*------------------------ 分類：文字色系------------------------*/
.colorA{
}

/*------------------------ 分類：レスポンシブ------------------------*/
.sp_none{
	display: block!important;
}
.pc_none{
	display: none!important;
}
.none{
	display: none!important;
}

@media screen and (max-width: 640px) {
	.sp_none{
		display: none!important;
	}
	.pc_none{
		display: block!important;
	}
	.sp_tac{
		text-align: center!important;
	}
	.sp_mb0{
		margin-bottom: 0!important;
	}
	.sp_mb20{
		margin-bottom: 20px!important;
	}
}












