@charset "utf-8";


/*------------------------ 分類：ボックス系 ------------------------*/
.boxA{
}


/*------------------------ 分類：アイコン系------------------------*/
.iconA{
}



/*------------------------ 分類：文字色系------------------------*/
.colorA{
}

.w50p {
  width: 50%;
}

.w25p {
  width: 25%;
}

@media screen and (max-width: 640px) {
  .w50p {
    width: 100%;
  }

  .w25p {
  width: 90%;
}
  }

.mv5 {
  margin-left: 5px;
  margin-right: 5px;
}
.w500 {
  width: 500px;
}

.mhauto{
  margin: 0 auto;
}

  .lh40 {
    line-height: 40px;
  }

    .lh50 {
    line-height: 50px;
  }

.color-blue {
  color: #107EAC;
}

.color-black {
  color: #000000;
}

.color-white {
  color: #FFFFFF;
}

.bb-gray {
  border-bottom: 2px solid #B4C3D1;
}

.inline-block {
  display: inline-block;
}

.posi-set {
  position: relative;
}

.posi-senter {
    position: absolute;
    top: -50px;
    left: 0px;
    width: 100%;
}

.bg-circle {
  border-radius: 50%;
  padding: 38px 0;
  height: 24px;
  width: 100px;
  background-color: #107EAC;
  margin: 0px auto;
}

.bg-circle2 {
  border-radius: 50%;
  padding: 28px 0;
  height: 44px;
  width: 100px;
  background-color: #107EAC;
  margin: 0px auto;
}

.border-gray {
  border: 1px solid #B4C3D1;
}