@charset "utf-8";

/* フォントサイズ
---------------------------------------------------------------------------- */	

/* 基本サイズは12pxに設定されています */
$BASE_FONTSIZE:12;
@for $i from 6 through 50{
	.fs#{$i} {
		font-size: #{$i/$BASE_FONTSIZE*100}% !important;
	}
}


/* clearfix
---------------------------------------------------------------------------- */	
.clearfix{ zoom: 1;}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}



/* テキストアライン
---------------------------------------------------------------------------- */	

.tal{ text-align: left !important;}
.tac{ text-align: center !important;}
.tar{ text-align: right !important;}

/* フロート
---------------------------------------------------------------------------- */	

.flR{ float: right !important;}
.flL{ float: left !important;}


/* マージン
---------------------------------------------------------------------------- */	
.m00{ margin: 0px !important;}
.mauto{ margin: 0 auto !important;}

$i:0;
@while $i<=100{
	.mt#{$i} {
		margin-top: #{$i}px !important;
	}
	$i:$i+5;
}

$i:0;
@while $i<=100{
	.mb#{$i} {
		margin-bottom: #{$i}px !important;
	}
	$i:$i+5;
}

$i:0;
@while $i<=100{
	.mr#{$i} {
		margin-right: #{$i}px !important;
	}
	$i:$i+5;
}

$i:0;
@while $i<=100{
	.ml#{$i} {
		margin-left: #{$i}px !important;
	}
	$i:$i+5;
}



/* パディング
---------------------------------------------------------------------------- */	

.pd00{ padding:0 !important;}

$i:0;
@while $i<=100{
	.pt#{$i} {
		padding-top: #{$i}px !important;
	}
	$i:$i+5;
}

$i:0;
@while $i<=100{
	.pb#{$i} {
		padding-bottom: #{$i}px !important;
	}
	$i:$i+5;
}

$i:0;
@while $i<=100{
	.pr#{$i} {
		padding-right: #{$i}px !important;
	}
	$i:$i+5;
}

$i:0;
@while $i<=100{
	.pl#{$i} {
		padding-left: #{$i}px !important;
	}
	$i:$i+5;
}



